@model ViewModelAssignment.Models.InformationViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>List of Schools</h3>
    <ul>
        @foreach (var Schools in Model.Schools)
        {
            <li>@Schools.SchoolName</li>
            <li>@Schools.SchoolCity</li>
            <li>@Schools.SchoolSize</li>
        }
    </ul>
<h3> List of Students </h3>
<ul>
    @foreach (var Students in Model.Students)
    {
        <li>@Students.StudentID</li>
        <li>@Students.StudentName</li>
        <li>@Students.StudentAge</li>
    }
</ul>
